body{
  font-family: Raleway,sans-serif;
}

img.header_logo{
  margin: 20px 0;
}

img.technik_logo{
  height: 30px;
}

header h1{
  display: inline;
  margin: 0 0 0 20px;
  font-size: 22px;
  font-weight: 600;
  color: #025493;
  vertical-align: text-top;
}

footer p{
  color: #444;
  font-size: 14px;
  margin: 10px 0;
}

footer p a, footer p a:hover, footer p a:focus{
  color: #00a8e4;
}

.header-container {
    border-bottom: 20px solid #335087;
}

.footer-container,
.main aside {
    border-top: 20px solid #335087;
}

.header-container,
.footer-container,
.main aside {
    background: #efefef;
}

.title {
    color: #004b9d;
}

nav a{
  background-color: #ddd;
  color: #004b9d;
}

.panel-body{
    padding: 0;
}

#divMasterDetailWrapper
{
    height: 80%;
    height: calc(100% - 230px);
    font-size: 12px;
}
#divMasterView
{
    width: 300px;
    height: 100%;
    background-color: #E0E0E0;
    margin-right: 5px;
    overflow-y: auto;
    float: left;
}
#divDetailView
{
    height: 100%;
    padding: 0;
    overflow-y: auto;
}

/*
    *   This is the CSS for one Customer record, in our Master view
    *
    *   Each Customer record will have one overall <div> element, with one sub-<div> for each Customer field
    *   that we want to display.
    *
    *   For example, the Customer City values will all be added to the DOM with a CSS class of "cssCompanyCity",
    *   which sets their position in the "Customer" <div> to (23px, 40px)
    */
.cssOneCompanyRecord {
    height: 47px;
    position: relative;         /* Very important, for appending child <div>s with absolute positioning later */
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.cssOneCompanyRecord:hover
{
    background-color: #cde6fa;
    cursor: pointer;
}
.cssCompanySelectedRecord {
    background-color: #2d5bb8;
}
.cssCompanyName
{
    position:absolute;
    top: 15px;
    left: 40px;
}
.cssCompanySelectedRecord .cssCompanyName{
    color: #fff;
}
.cssCompanyCity
{
    position:absolute;
    top: 23px;
    left: 40px;
    color: #505050;
    font-size: 0.9em;
}
.cssCompanySelectedRecord .cssCompanyCity{
    color: #fff;
}
.cssCustomerID
{
    position:absolute;
    top: 31px;
    right: 5px;
    font-size: 0.7em;
    color: blue;
}
.cssCustomerIcon
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7px;
    width: 24px;
}

/*
    *   This is the CSS for one "Order" record, in our Detail view
    *
    *   This one's a little more complicated, as, for each "Order", we'll have an Order Header, followed by a
    *   collection of "Product" <div>s in that order.
    *
    *   But, the theory is just the same.  Each "Product" values gets added to the DOM with a particular CSS class
    *   to allow us to set their position in the "Product" <div>.
    */

.cssOneOrderRecord
{
    position: relative;         /* Very important, for appending child <div>s with absolute positioning later */
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    margin: 15px 20px 15px 20px;
}
.cssOneOrderHeader {
    height: 40px;
    background-color: #E0E0E0;
    width: 100%;
    position: relative;
    margin: 0px 0px 4px 0px;
}
.cssOrderID
{
    position:absolute;
    left: 14px;
    top: 12px;
    font-weight: bold;
}
.cssOrderDate
{
    position:absolute;
    left: 300px;
    top: 12px;
}
.cssOneProductRecord
{
    width: 100%;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.cssOneProductQty
{
    position:absolute;
    left: 30px;
    top: 5px;
}
.cssOneProductName
{
    position:absolute;
    left: 100px;
    top: 5px;
}
.cssOneProductPrice
{
    position:absolute;
    left: 300px;
    top: 7px;
}
.cssOneProductSubtotal {
    position:absolute;
    left: 420px;
    top: 7px;
    overflow: hidden;
    height: 20px;
}
.cssOneOrderTotal {
    width: 100%;
    height: 32px;
    position: relative;
    background-color: #e0e0e0;
    margin: 10px 0px 4px 0px;
    font-weight: bold;
    border-top: dashed 1px black;
    overflow: hidden;
}

.cssProductEven {
    background-color: white;
}
.cssProductOdd {
    background-color: #F0F8F8;
}


